# dependencies
node_modules

# output
dist
out
*.tgz

# cloudflare
.wrangler
.dev.vars
worker-configuration.d.ts

# generated types
.types

# caches
.cache
*.tsbuildinfo

# logs
logs
*.log

# env
.env
.env.local
.env.*.local

# os
.DS_Store

# ide
.idea